body {
    background-color:#000;
    background-image: url("../images/stars2.png"); 
    
    font-family:source-code-pro, monospace;
    max-width:98%;
	margin-left: 50px;
    margin-top: 50px;
	margin-right: auto;
}

p, h1 {
    color: rgb(45, 211, 45);
   
}
a{
    color: rgb(116, 255, 116);
    text-decoration: none;

}

img {
    width:25%;
    height:auto;
    position: fixed;
    bottom: 0px;
    right: 0px;

}

#menu{
    background: #2f3136;
    position: fixed;
    border-radius: 5px;
    padding: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: 9.5%;
    max-width: 190px;
    min-width: 190px;

}

.blinkme{
    animation: blinker 1s step-start infinite;
    color: white;
}
@keyframes blinker{
    50%{
        opacity: 0;
    }
}
